@font-face {
  font-family: "Glacial Indifference";
  src: url('glacial/GlacialIndifference-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
} 

@font-face {
  font-family: "Glacial Indifference";
  src: url('glacial/GlacialIndifference-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: bold;
} 

@font-face {
  font-family: "Glacial Indifference";
  src: url('glacial/GlacialIndifference-Italic.otf') format('opentype');
  font-style: italic;
} 
